<!-- news.component.html -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">News</h5>
    <p class="card-text">
      A sharp surge among financials, metals as well as FMCG names, especially in the last hour of trade, ensured that the market managed to close the week with good gains. The Nifty managed to clock 10,800 during the session and closed above the psychological mark. For the week, indices posted gains of around 1 percent.
    </p>
  </div>
</div>
