<!-- tools.component.html -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Tools</h5>
    <p class="card-text">
      ONGC Videsh Ltd, India's flagship overseas oil investment firm, has dragged Sudan to an international arbitration court to recover over USD 400 million in unpaid oil dues pending since 2011. OVL, the overseas arm of state-owned Oil and Natural Gas Corp (ONGC), has filed an arbitration claim in a London court to recover about USD 300 million for oil Sudan bought from its Greater Nile Oil Project and another USD 98.94 million in unpaid pipeline rent lease, people familiar with the matter said.
    </p>
  </div>
</div>
