<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="news" class="nav-link" style="color: white">News</a>
      </li>
      <li class="nav-item active">
        <a routerLink="market" class="nav-link" style="color: white">Market</a>
      </li>
      <li class="nav-item active">
        <a routerLink="tools" class="nav-link" style="color: white">Tools</a>
      </li>
      <li class="nav-item active">
        <a routerLink="" class="nav-link" style="color: white">Home</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
