<!-- market.component.html -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Market</h5>
    <p class="card-text">
      The D-Street is factoring a favourable Karnataka poll outcome on Tuesday, by a split exit poll result could cause a kneejerk reaction. Yet, the overall positive trend is likely to continue, suggest experts.
    </p>
  </div>
</div>
